@import '../../../../styles/color-mappings';

.cmp-menu {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  min-width: 200px;
  width: 200px;
  top: 0;
  left: 0;
  padding: 15px;
  box-shadow: rgb(255 255 255 / 10%) -3px 0px 0px 0px inset;

  &__add-note {
    display: flex;

    &-input {
      display: block;
      font-size: 0.85rem;
      width: 100%;
      padding: 0px 8px;
      margin-right: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
      outline: none;
    }

    &-button {
      display: inline-block;
      padding: 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba($color-text-dark, 0.15);
      }
    }

    &-icon {
      background-color: transparent;
      color: $color-text-dark;
    }
  }

  &__list {
    width: 100%;

    &-items {
      display: flex;
      cursor: pointer;

      &-link {
        padding: 6px 0;
        display: flex;
        white-space: nowrap;
        overflow: hidden;
      }

      &-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex-grow: 1;
      }

      &-remove {
        margin-left: auto;
      }

      &-icon {
        background-color: transparent;
        margin-right: 4px;
        color: $color-text-dark;
      }
    }
  }
}
