@import '../../../../styles/color-mappings';

.cmp-note {
  width: 100%;
  padding: 20px;
  overflow: auto;

  &__title {
    padding-top: 16px;
    display: block;
    text-align: center;

    &-input {
      background-color: $color-background-dark;
      color: $color-text-dark;
      border: none;
      outline: none;
      width: 100%;
      text-align: center;
    }
  }

  &__content::-webkit-scrollbar {
    display: none;
  }

  &__content {
    padding-top: 20px;
    background: transparent;
    border: none;
    overflow: auto;
    height: 75%;
    line-height: 1.25;
  }

  &__edit-button {
    position: absolute;
    right: px;
    right: 32px;
    top: 20px;
  }
}
